.logo {
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: 'Raleway', sans-serif;
  @include font(24px, 28px, 0.03em, 700);

  color: #000000;

  &__web {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    @include font(26px, 31px, 0.03em, 700);
  }
}
